body {
    background-color: black;
}
#loginForm {
    width:300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: aliceblue;

}
#loginForm label {
    display: block;
    margin-bottom: 5px;
}

#loginForm input[type="text"],
#loginForm input[type="password"]
{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}
#loginForm button{
    background-color: blueviolet;
    color:aliceblue;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 100px;
}
